/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  padding: 20px;
  min-height: calc(100vh - 64px - 64px);
}

.title {
  text-align: center;
  font-size: 2rem !important;
}
